<div class="modal">
    <div class="modal-content">
        <h4>Welcome to xpFollz!</h4>
        <div class="row">
            <div class="input-field col s6">
                <input value="" id="user" type="text" class="validate">
                <label class="active" for="user">Username:</label>
            </div>
        </div>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="start-game-action modal-action waves-effect waves-green btn-flat">Start</a>
    </div>
</div>
<div class="board"></div>
<div class="side">
    <div class="timer">00:00</div>
    <ul class="collection players">
    </ul>
</div>