html,
body {
	margin: 0;
	overflow: hidden;
}

.board-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	overflow: auto;
	background-color: #F2F2F2;
}

.board {
	width: 1000px;
	height: 1000px;
	background-color: white;
	overflow: hidden;
}

.side {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	border-left: 1px solid black;
	background-color: white;
	z-index: 1;
}

.side .timer {
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	text-align: center;
}

.circle {
	position: absolute;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: white;
	text-align: center;
	font-weight: bold;
}

#color-selected {
	width: 36px;
    height: 36px;
    right: 20px;
    border: 1px solid black;
    position: absolute;
}